deep-animator
fastscript
gdown
notebook
umap-learn
visdom
librosa>=0.5.1
matplotlib>=2.0.2
numpy>=1.14.0
scipy>=1.0.0
tqdm
sounddevice
Unidecode
imageio-ffmpeg
inflect
multiprocess
numba==0.48
insightface
onnxruntime
imageio==2.3.0
streamlit
Pillow==5.2.0
tensorflow==1.15.0
protobuf==3.20.2
sickit-image==0.16

